@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

html section {
  background-color: #eee;
  padding: 2rem 0;
  position: relative;
}

html section .section_heading {
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
  position: relative;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding: 2rem;
  text-shadow: 3px 2px 6px rgba(19, 10, 58, 0.5);
}

html section .section_heading::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #130a3a;
  position: absolute;
  bottom: 0;
  left: 0;
}

.landing {
  height: 100vh;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.landing .inner {
  z-index: 10;
  text-align: center;
}

.landing .inner h1 {
  font-size: 5rem;
}

.landing .inner h5 {
  color: rgba(255, 255, 255, 0.5);
  padding: 2rem 0 3rem 0;
}

.landing .inner a {
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Comfortaa', cursive;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border: 2px solid white;
  margin: 0 8px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.landing .inner a:hover {
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: white;
  color: #130a3a;
}

.landing::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(19, 10, 58, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.projects_inner .project {
  margin: 3rem;
  border-radius: 25px;
  opacity: 1;
  -webkit-box-shadow: 4px 8px 12px rgba(0, 0, 0, 0);
          box-shadow: 4px 8px 12px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.projects_inner .project .project_container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_inner .project:nth-child(odd) .project_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects_inner .project:hover {
  -webkit-box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
}

.projects_inner .project .project_img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects_inner .project .project_img img {
  margin-left: auto;
  max-width: 100%;
  -webkit-box-shadow: 6px 6px 6px rgba(19, 10, 58, 0.5);
          box-shadow: 6px 6px 6px rgba(19, 10, 58, 0.5);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.projects_inner .project .project_img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 8px 8px 12px rgba(19, 10, 58, 0.5);
          box-shadow: 8px 8px 12px rgba(19, 10, 58, 0.5);
}

.projects_inner .project .project_details {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 1rem;
}

.projects_inner .project .project_details h1 {
  margin: 2rem;
  font-size: 2rem;
  text-shadow: 2px 3px 4px rgba(19, 10, 58, 0.5);
}

.projects_inner .project .project_details p {
  margin: 0.5rem 0;
}

.projects_inner .project .project_details .project_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.projects_inner .project .project_details .project_links a {
  background-color: rgba(19, 10, 58, 0.75);
  font-family: 'Comfortaa', cursive;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border: 2px solid white;
  margin: 0 8px;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.projects_inner .project .project_details .project_links a:hover {
  background-color: rgba(19, 10, 58, 0);
  color: #130a3a;
}

.projects_inner .project .project_techs {
  width: 100%;
  padding: 1rem 6rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 25px 25px;
  -webkit-box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.2);
}

.projects_inner .project .project_techs .icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects_inner .hidden {
  -webkit-transform: translateX(10%) rotate(-45deg);
          transform: translateX(10%) rotate(-45deg);
  opacity: 0;
}

.about_container {
  -webkit-box-shadow: inset 3px 6px 8px rgba(0, 0, 0, 0.2), inset 3px -6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: inset 3px 6px 8px rgba(0, 0, 0, 0.2), inset 3px -6px 8px rgba(0, 0, 0, 0.2);
}

.about_container .about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about_container .about_content p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.2rem;
  padding: 0 1rem;
  margin: 4rem 2rem;
}

.technologies_container h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.technologies_container h5 {
  font-size: 1rem;
}

.technologies_container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technologies_container .skill {
  width: 200px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  margin: 0 1.5rem;
}

.technologies_container .skill:hover img {
  -webkit-animation: animate 1.2s infinite;
          animation: animate 1.2s infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.technologies_container .skill img {
  max-width: 80%;
  max-height: 80%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.technologies_container .container__progress {
  text-align: center;
}

.technologies_container .container__progress .heading__progress {
  font-size: 2rem;
  padding: 0;
}

.technologies_container .container__progress .progress__outer {
  width: 90%;
  height: 40px;
  background: #ddd;
  margin: 0 auto 2rem auto;
  border-radius: 30px;
  padding: 6px;
}

.technologies_container .container__progress .progress__outer .progress__inner {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: #38258a;
  border-radius: 25px 0 0 25px;
  margin: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.technologies_container .container__progress .progress__outer .reflection {
  width: 30%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  position: absolute;
  left: calc(10% + 6px);
  top: 10%;
}

@-webkit-keyframes animate {
  0% {
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    max-width: 90%;
    max-height: 90%;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  50% {
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    max-width: 90%;
    max-height: 90%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animate {
  0% {
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    max-width: 90%;
    max-height: 90%;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  50% {
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    max-width: 90%;
    max-height: 90%;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    max-width: 80%;
    max-height: 80%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#contact {
  -webkit-box-shadow: inset 3px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 3px 6px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

#contact .inner {
  width: 70%;
  min-width: 500px;
  margin: 2rem auto;
  padding: 2rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 25px;
  -webkit-box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.2);
}

#contact .inner h2 {
  padding: 2rem 0;
  font-size: 2rem;
}

#contact .inner input {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  width: 90%;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.2);
}

#contact .inner #message {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  width: 90%;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.2);
  height: 150px;
  outline: none;
}

#contact .inner #submit {
  width: 150px;
  background-color: rgba(19, 10, 58, 0.75);
  color: #fff;
  margin-left: auto;
  right: 0;
}

#contact .inner #submit:hover {
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#contact .attribution {
  font-size: 10px;
  color: #aaa;
}

.links_container .inner {
  background-color: rgba(19, 10, 58, 0.75);
  padding: 3rem;
  color: #fff;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.links_container .inner h1 {
  padding-bottom: 2rem;
}

.links_container .inner .resume {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.links_container .inner a {
  text-decoration: none;
}

.links_container .inner .resume_box {
  background-color: transparent;
  padding: 1rem;
  border-radius: 20px;
  border: 3px solid #fff;
  cursor: pointer;
}

.links_container .inner .resume_box h1 {
  padding-bottom: 1rem;
  color: #fff;
}

.links_container .inner .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links_container .inner .icons img {
  max-height: 48px;
  max-width: 48px;
}

.links_container .inner .icons a {
  margin: 0 0.5rem;
}

.footer_container .inner {
  padding: 1rem;
  background-color: #130a3a;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 600px) {
  .project_container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .about_content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .about_content p {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
    margin: 1rem !important;
  }
}

@media only screen and (min-width: 600px) {
  .project_container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .about_content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .about_content p {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
    margin: 1rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .project_container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .about_content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .about_content p {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
    margin: 1rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .project_container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .project_techs {
    padding: 2rem 3rem !important;
  }
  .about_content {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .about_content p {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
    margin: 3rem 1rem !important;
  }
}
/*# sourceMappingURL=index.css.map */