@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Comfortaa', cursive;

  .section_heading {
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
    position: relative;
    top: 0;
    left: 0;

    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background-color:rgba(19, 10, 58, 1);
      position: absolute;
      bottom: 0;
      left: 0;

    }
  }

  .section {
    background-color: #eee;
    padding: 2rem 0;
    position: relative;

    .section_heading {
      font-size: 3rem;
      padding: 2rem;
      text-shadow: 3px 2px 6px rgba(19, 10, 58, 0.5);
    }
  }
}

.landing {
  height: 100vh;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  display: grid;
  place-items: center;

  .inner {
    z-index: 10;
    text-align: center;

    h1 {
      font-size: 5rem;
    }

    h5 {
      color: rgba(255,255,255,0.5);
      padding: 2rem 0 3rem 0;
    }

    a {
      background-color: rgba(255,255,255,0);
      font-family: 'Comfortaa', cursive;
      color: rgba(255,255,255,1);
      padding: 8px 12px;
      text-decoration: none;
      border: 2px solid white;
      margin: 0 8px;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        border: 2px solid rgba(255,255,255,0);
        background-color: rgba(255,255,255,1);
        color: rgba(19, 10, 58, 1);
      }
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(19, 10, 58, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.projects_container {
  margin: 0;
  padding: 0;
}


.projects_inner {

  .project {
    margin: 3rem 6rem;
    border-radius: 25px;
    opacity: 1;
    transition: all 0.5s ease;

    .project_container {
      padding: 2rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 'details img'
                            'techs techs';
      align-items: center;
    }

    
    &:hover {
      box-shadow: 4px 8px 12px rgba(0,0,0,0.2);
    }

    .project_img {
      grid-area: img;
      display: grid;
      place-items: center;
      z-index: 1;
      height: 100%;

      img {
        width: 384px;
        height: 216px;
        position: relative;
        box-shadow: 6px 6px 6px rgba(19, 10, 58, 0.5);
        transition: all 0.4s ease;

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }

        &:hover {
          width: 422.4px;
          height: 237.6px;
          box-shadow: 8px 8px 12px rgba(19, 10, 58, 0.5);
        }
      }
    }
    .project_details {
      grid-area: details;
      padding: 1rem 2rem 0 2rem;

      h1 {
        margin: 2rem;
        font-size: 2rem;
        text-shadow: 2px 3px 4px rgba(19, 10, 58, 0.5);
      }

      p {
        margin: 0.5rem 0;
      }

      .project_links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;

        a {
          background-color: rgba(19, 10, 58, 0.75);
          font-family: 'Comfortaa', cursive;
          color: rgba(255,255,255,1);
          padding: 8px 12px;
          text-decoration: none;
          border: 2px solid white;
          margin: 0 8px;
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.4s ease;

          &:hover {
            background-color: rgba(19, 10, 58, 0);
            color: rgba(19, 10, 58, 1)
          }
        }
      }
    }

    .project_techs {
      grid-area: techs;
      width: 100%;
      padding: 1rem 12rem;
      background: rgba(0,0,0,0.1);
      border-radius: 0 0 25px 25px;
      box-shadow: 0 -6px 8px rgba(0,0,0,0.2);

      .icon_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }

  & .hidden {
    transform: translateX(10%) rotate(-45deg);
    opacity: 0;
  }

  .project:nth-child(odd) .project_container {
    grid-template-columns: 1fr 2fr ;
    grid-template-areas: 'img details';
  }
}

.about_container {
  box-shadow: inset 3px 6px 8px rgba(0,0,0,0.2),
              inset 3px -6px 8px rgba(0,0,0,0.2);

  .about_content {
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);



    p {
      font-size: 1.2rem;
    }

    .column {
      margin: 0 3rem;
    }
  }
}

.technologies_container {
  
  h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    
  }

  h5 {
    font-size: 1rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 6rem;
    justify-content: center;
  }

  .skill {
    width: 200px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 1.5rem;
    // border: 1px solid black;

    &:hover img {
      animation: animate 1.2s infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
    }

    img {
      max-width: 80%;
      max-height: 80%;
      transform: rotate(0);
    }
  }

  .container__progress {
    text-align: center;

    .heading__progress {
      font-size: 2rem;
      padding: 0;
    }
  
    .progress__outer {
      width: 90%;
      height: 40px;
      background: #ddd;
      margin: 0 auto 2rem auto;
      border-radius: 30px;
      padding: 6px;
      
      .progress__inner {
        position: relative;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: rgb(56, 37, 138);
        border-radius: 25px 0 0 25px;
        margin: 0;
        clip-path: polygon(0 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
      }
      
      .reflection {
        width: 30%;
        height: 8px;
        background-color: rgba(255,255,255,0.5);
        border-radius: 8px;
        position: absolute;
        left: calc(10% + 6px);
        top: 10%;
      }
    }
  }
}

@keyframes animate {
  0% {
    max-width: 80%;
    max-height: 80%;
    transform: rotate(0deg)
  }
  25% {
    max-width: 90%;
    max-height: 90%;
    transform: rotate(4deg)
  }
  50% {
    max-width: 80%;
    max-height: 80%;
    transform: rotate(0deg)
  }
  75% {
    max-width: 90%;
    max-height: 90%;
    transform: rotate(-4deg)
  }
  100% {
    max-width: 80%;
    max-height: 80%;
    transform: rotate(0)
  }
}

#contact {
  box-shadow: inset 3px 6px 6px rgba(0,0,0,0.2);
  background-color: #fff;

  .inner {
    width: 50%;
    margin: 2rem auto;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 25px;
    box-shadow: 6px 4px 6px rgba(0,0,0,0.2);

    h2 {
      padding: 2rem 0;
      font-size: 2rem;
    }

    input {
      font-family: 'Comfortaa', cursive;
      font-size: 1.2rem;
      width: 500px;
      margin: 1rem 0;
      padding: 1rem 2rem;
      border: none;
      border-radius: 20px;
      box-shadow: 6px 3px 5px rgba(0,0,0,0.2);
    }

    #message {
      font-family: 'Comfortaa', cursive;
      font-size: 1.2rem;
      width: 500px;
      margin: 1rem 0;
      padding: 1rem 2rem;
      border: none;
      border-radius: 20px;
      box-shadow: 6px 3px 5px rgba(0,0,0,0.2);
      height: 150px;
      outline: none;
    }

    #submit {
      width: 150px;
      background-color: rgba(19, 10, 58, 0.75);
      color: #fff;
      margin-left: auto;
      right: 0;

      &:hover {
        transform: translate(6px, 6px);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      }
    }
  }

  .attribution {
    font-size: 10px;
    color: #aaa;
  }
}

.links_container {

  .inner {
    background-color: rgba(19, 10, 58, 0.75);
    padding: 3rem;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    h1 {
      padding-bottom: 2rem;
    }

    .resume {
      display: grid;
      place-items: center;
    }

    a {
      text-decoration: none;
    }

    .resume_box {
      background-color: transparent;
      padding: 1rem;
      border-radius: 20px;
      border: 3px solid #fff;
      cursor: pointer;

      h1 {
        padding-bottom: 1rem;
        color: #fff;
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        max-height: 48px;
        max-width: 48px;
      }

      a {
        margin: 0 0.5rem;
      }
    }
  }
}

.footer_container {

  .inner {
    padding: 1rem;
    background-color: rgba(19, 10, 58, 1);
    display: grid;
    place-items: center;
    color: rgba(255,255,255,0.75);
  }
}